#-----------General--------------
#/*
#/*/
*.backup
build/*
**/build/*
**/MANIFEST.MF
experiment/*
*.DS_Store
#-----------Git-----------------
!/.gitattributes
!/.gitignore
!/README


#------------Intellij------------
**/.idea/vcs.xml
**/.idea/shelf/**
**/.idea/.name
**/.idea/workspace.xml
*.iml
**/.idea/modules.xml
**/.idea/libraries/*
**/.idea/gradle.xml
**/.idea/jarRepositories.xml


!README.txt
!*.gradle
!gradle.properties
**/.gradle/**
**/gradle/**
**/gradlew
**/gradlew.bat
**/runtime-classpath.txt
**/runtime-classpath-windows.txt
**/runtime-classpath-linux.txt


#--------------Java--------------
*.class
*junit*.properties



#---------------Antlr------------
**/generated-src/**
